/**** FONT IMPORT *****/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

/***** VARIABLES ********/

:root {
    --font-one: 'Baloo Tamma 2', sans-serif;
    --color-primary: #3093F7;
    --color-primary-light: #71b8ff;
    --color-primary-dark: #3F4655;
    --color-secondary: rgb(255, 210, 7);
    --color-secondary-light: rgb(255, 229, 112);
    --color-secondary-dark: rgb(202, 148, 0);
    --white: #fff;
    --black: #232323;
    --grey-dark: #4e4e4e;
    --grey-light: #E9EDF2;
    
}

/***** BASIC RESET *******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

html {
    font-size: 62.5%; /* Establish 1rem = 10px */
}

body {
    font-size: 1.6rem;
    font-family: 'Baloo Tamma 2', sans-serif; /* INSERT FONT */
    background: var(--grey-light);
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/****************************/

.nav .container {
    height: 7rem;
    display: flex;
    justify-content: space-between; /* NOT DISPLAYING PROPERLY */
    align-items: center;
}

.nav__left ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
}

.logo img {
    width: 3.5rem;
}

.nav__left--grey {
    color: var(--grey-dark);
}

.nav__right ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn {
    padding: .5rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--black);
    cursor: pointer;
}

.btn-blue {
    background: var(--color-primary);
    color: var(--white);
}

.btn-white {
    background: var(--white);
    color: var(--black);
}

/****** HEADER ******/

.header .container {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-weight: 300;
    margin: 5rem 0;
}

/**** FEATURES ****/

.features {
    background: var(--color-primary-dark);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
}

.features img {
    width: 15rem;
}

.features div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    border-right: 1px solid var(--black);
}

.features h3 {
    margin: 1rem 0;
}

.features p {
    color: var(--grey-light);
    font-size: 1.4rem;
}

/**** CTA ****/

.cta .container {
    padding: 5rem 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta p {
    max-width: 60%;
    text-align: center;
    font-size: 2rem;
}

.cta img {
    width: 70%;
}

/**** PLANS ****/

.plans {
    background: var(--white);
}

.plans .container {
    padding: 5rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans__text {
    max-width: 60%;
    text-align: center;
}

.plans__options {
    display: flex;
    gap: 2rem;
    margin: 4rem 0;
}

.plans__options div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 8rem;
}

.plans__options--monthly {
    border-right: 1px solid var(--black);

}

/***** BRANDS *****/

.brands .container {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;
}

.brands__text {
    max-width: 40%;
}

.brands__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.brands__logos img {
    display: block;
    width: 8rem;
}

/***** REGISTER *****/

.register {
    background: var(--white);
}

.register .container {
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.register__text {
    max-width: 40%;
    text-align: center;   
}

.register__form {
    background: var(--grey-light);
    padding: 4rem;
}

.register__form label {
    display: block;
}

.register__form input {
    width: 35rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.register__form button {
    margin: 2rem auto;
    display: block;
}

.register__form p {
    margin: 0 auto;
    text-align: center;
}

.register__security {
    text-align: center;
}