/**** FONT IMPORT *****/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

/***** VARIABLES ********/

:root {
    --font-one: 'Baloo Tamma 2', sans-serif;
    --color-primary: #3093F7;
    --color-primary-light: #71b8ff;
    --color-primary-dark: #3F4655;
    --color-secondary: rgb(255, 210, 7);
    --color-secondary-light: rgb(255, 229, 112);
    --color-secondary-dark: rgb(202, 148, 0);
    --white: #fff;
    --black: #4e4e4e;
    --grey-dark: rgb(88, 88, 88);
    --grey-light: rgb(202, 202, 202);
    
}

/***** BASIC RESET *******/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    content: '';
}

html {
    font-size: 62.5%; /* Establish 1rem = 10px */
}

body {
    font-size: 1.6rem;
    font-family: sans-serif; /* INSERT FONT */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/****************************/
